.container{
  background-color: white;
  width: 95%;
  margin: 0 auto;
}
.categoria{
  width: 95%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.card{
  height: 120px;
  display: flex;
  cursor: pointer;
  width: 100%;
}
.img{
  padding: 20px 10px;
  width: auto;
  height: auto;
  margin: auto 0;
  max-width: 100px;
}

.info_producto{
  margin: auto 0;
  height: 80%;
  width: 50%;
  padding: 15px 10px;
}
.price{
  font-size: 12px;
  margin: 0;
}
.title{
  margin: 10px 0;
  font-size: 10px;
}
.free_shipping{
  height: auto;
  width: 8px;
  margin-left: 3px;
}
.city{
  font-size: 7px;
  color: gray;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .categoria{
    width: 80%;
  }
  .container{
    width: 80%;
  }
  .card{
    height: 250px;
  }
  .img{
    padding: 30px 20px;
    width: 20%;
    height: 80%;
    margin: auto 0;
    max-width: 100%;
  }

  .info_producto{
    margin: auto 0;
    height: 80%;
    width: 60%;
    padding: 20px;
  }
  .price{
    font-size: 35px;
  }
  .title{
    margin: 25px 0;
    font-size: 25px;
  }
  .free_shipping{
    width: 20px;
    margin-left: 10px;
  }
  .city{
    font-size: 16px;

  }
}
