.loader{
	position: absolute;
	top: 70px;
	width:100%;
	height: 3px;
	background: #4189E6;
	border-left:0px solid #F8ECF1;
	box-shadow: 0 0 0 1px #F8ECF1;
	animation:loader infinite .8s linear;
}
@keyframes loader{
	100%{
		border-left:100vw solid #5796ea;
	}
}

@media only screen and (min-width: 900px) {
	.loader{
		top: 50px;
	}
}



